<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css" th:href="@{/styles/bootstrap.min.css}" type="text/css">

</head>
<body>
<div class="container col-7">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/users/{id}(id = ${post.userId})}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/users/{id}/posts(id = ${post.userId}, offset = ${0})}">My posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/posts(userId = ${post.userId})}">Write a
                            post</a>
                    </li>
                    <li class="nav-item">
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Users
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark"
                                        aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" aria-current="page"
                                               th:href="@{/users(userId = ${post.userId}, offset = ${0})}">find friends</a></li>
                                        <li><a class="dropdown-item" th:href="@{/user/{id}/friends(id = ${post.userId})}">my friends</a></li>
                                        <li><a class="dropdown-item" th:href="@{/user/{id}/subscribers(id = ${post.userId})}">subscribers</a></li>
                                        <li><a class="dropdown-item" th:href="@{/user/{id}/subscriptions(id = ${post.userId})}">subscriptions</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <form method="post" th:action="@{/logout}" class="d-flex">
                <button class="btn btn-outline-success" type="submit">LogOut</button>
            </form>
        </div>
    </nav>
</div>

<form method="post" th:action="@{/posts/{id}/update(id = ${post.id})}" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="col-2 mb-3">
            <label for="exampleFormControlInput1" class="form-label">title</label>
            <input th:value="${post.title}" name="title" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="col-2 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">body</label>
            <textarea th:text="${post.body}" name="body" class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="write here your text"></textarea>
        </div>
        <div class="col-2 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Replace with new images</label>
        </div>
        <div class="w-25 input-group mb-3">
            <input name="images" multiple="multiple" type="file" class="col-2 form-control" id="inputGroupFile04"
                   aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <button type="submit" class="btn btn-primary">save</button>

    </div>
</form>

<script th:src="@{/js/bootstrap.bundle.min.js}">

</script>
</body>
</html>